---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Quiénes Somos">
  <main class="container">
    <h1 class="text-4xl font-bold text-center my-8">Sobre Mí</h1>
    <div class="prose lg:prose-xl mx-auto">
      <p>
        ¡Hola! Soy una desarrolladora de software apasionada por crear soluciones web
        que no solo son funcionales y eficientes, sino también intuitivas y
        atractivas. Mi objetivo es ayudar a mis clientes a alcanzar sus metas
        digitales, ya sea a través de una landing page que convierta visitantes
        en clientes, un sitio web institucional que refleje la identidad de una
        marca, o un sistema de gestión a medida que optimice las operaciones
        internas.
      </p>
      <p>
        Con experiencia en una variedad de tecnologías y un enfoque centrado en
        el usuario, me dedico a entregar productos de alta calidad que generen
        un impacto positivo.
      </p>
    </div>
  </main>
</Layout>

<style>
  .container {
    max-width: 800px;
  }
</style>
